.about {
  .card {
    &-header {
      h5 {
        font-weight: bold;
      }

      .fas {
        // color: rgba(164, 129, 17, 1.0) !important;
        color: #718093;
      }
    }
  }

  .fa-twitter {
    color: #1DA1F2;
    font-size: 1.75rem;
    margin-top: 0.5rem;
  }

  .twitter-feed {
    @include responsive(atMedium) {
      height: 800px;
    }

    overflow: hidden;
  }
}