#authors {
  img {
    margin-top: -60px;
  }

  .fab {
    font-size: 1.5em;
  }

  .card {
    transition: all .3s ease-in-out .1s;
  }

  .card:hover {
    background: $primary;
    color: white;

    & h5, & .fab {
      color: white !important;
    }
  }
}