.stores {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    &-logo {
      width: 150px;
      height: 150px;



      img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}